@font-face {
    font-family: "04b";
    src: url("font/04B_30__.TTF");
}

@font-face {
    font-family: "retro";
    src: url("font/Retro Gaming.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --grey: #6C7F8E;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: retro;
}

/* header */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 4rem;

    background-color: var(--grey);
    -webkit-tap-highlight-color: transparent;
}

.header::after {
    content: '';

    position: absolute;
    top: 3.9375rem;
    left: 0;
    z-index: 2;

    background-image: url(image/header-separator.png);
    background-size: contain;
    background-repeat: repeat-x;

    height: 80%;
    width: 100%;

}

.header__logo {
    width: 6rem;
    margin-left: 1.5rem;

    object-fit: contain;
}

.header__mobile_menu {
    width: 5rem;
    padding: .5rem;

    object-fit: contain;

    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;

    background-image: url(image/hero-bg.png);
    background-size: cover;
    background-position: 56%;

    height: calc(100% - 4rem);
}

.main__hero {
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: "04b";
    color: white;
    text-shadow: 4px 4px black;
    line-height: 1.3;
    font-size: 3.5rem;
    text-align: center;
    white-space: nowrap;
}

.main__btns {
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pixel-button {
    position: relative;

    display: inline-block;
    margin: 1.2rem 0;
    width: 205px;
    height: 68px;

    background-image: url(image/btn-down.png);
    background-repeat: no-repeat;

    background-size: 100% 100%;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.pixel-button__pressable {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: -20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(image/btn-up.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: unset;
    border: none;

    font-family: "retro";
    transition: top .1s;
    cursor: pointer;
}

.pixel-button__pressable:active {
    top: -10px;
}

/* targeting laptops and larger screens */
/* 992px by default */
@media (min-width: 62rem) {
    .main__hero {
        height: 70%;
        width: 50%;

        font-size: 6rem;
    }

    .main__btns {
        height: 30%;
        width: 50%;

        flex-direction: row;
        align-items: unset;
    }

    .pixel-button {
        margin: 0 2rem;
    }

    .pixel-button__pressable:hover {
        top: -16px;
    }

    .pixel-button__pressable:active {
        top: -10px;
    }
}