@font-face {
    font-family: "04b";
    src: url("font/04B_30__.TTF");
}

@font-face {
    font-family: "retro";
    src: url("font/Retro Gaming.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --grey: #6C7F8E;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: retro;
}

/* header */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 4rem;

    background-color: var(--grey);
    -webkit-tap-highlight-color: transparent;
}

.header::after {
    content: '';

    position: absolute;
    top: 3.9375rem;
    left: 0;
    z-index: 2;

    background-image: url(image/header-separator.png);
    background-size: contain;
    background-repeat: repeat-x;

    height: 80%;
    width: 100%;

}

.header__logo {
    width: 6rem;
    margin-left: 1.5rem;

    object-fit: contain;
}

.header__mobile_menu {
    width: 5rem;
    padding: .5rem;

    object-fit: contain;

    cursor: pointer;
}


/* first area */

.castle-section {
    display: flex;
    flex-direction: column;

    background-image: url(image/hero-bg.png);
    background-size: cover;
    background-position: 56%;

    height: calc(100vh - 4rem);
}

.castle-section::after {
    content: '';
    position: absolute;
    left: 0;
    z-index: 2;
    top: 100%;
    background-image: url(image/richard-separator.png);
    background-size: contain;
    background-repeat: repeat-x;
    height: 8%;
    width: 100%;
    transform: translateY(-50%);
}

.main__hero {
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: "04b";
    color: white;
    text-shadow: 4px 4px black;
    line-height: 1.3;
    font-size: 3.5rem;
    text-align: center;
    white-space: nowrap;
}

.main__btns {
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pixel-button {
    position: relative;

    display: inline-block;
    margin: 1.2rem 0;
    width: 205px;
    height: 68px;

    background-image: url(image/btn-down.png);
    background-repeat: no-repeat;

    background-size: 100% 100%;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.pixel-button__pressable {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: -20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(image/btn-up.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: unset;
    border: none;

    font-family: "retro";
    transition: top .1s;
    cursor: pointer;
}

.pixel-button__pressable:active {
    top: -10px;
}

.neon {
    position: relative;
}



/* second area */
.richard-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-image: url(image/section2bg.png), linear-gradient(169deg, rgb(10 20 60) 27%, rgb(47 18 56) 87%);
    text-align: center;
    padding-top: 2rem;
}

.richard-section__hero-image {
    padding: 1em;
    max-width: 25rem;
}

.richard-section__title {
    font-family: "04b";
    color: #FDE048;
}

.richard-section__info {
    font-family: "04b";
    color: white;
    margin: 1.2em 1em;
    line-height: 1.2;
}

.neon .pixel-button {
    width: 250px;
}

/* third area */
.roadmap-section {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.roadmap-section__map {
    object-fit: contain;
    width: 100%;
}

/* targeting tablets and larger screens */
/* 768px by default */
@media (min-width: 48rem) {

    /* second area */
    .richard-section {
        flex-direction: row-reverse;
    }

    .richard-section__wrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: unset;
    }

    .richard-section__hero-image {
        padding: 1em;
        width: 50%;
        object-fit: contain;
        max-width: unset;
    }
}

/* targeting laptops and larger screens */
/* 992px by default */
@media (min-width: 62rem) {

    /* first area */
    .main__hero {
        height: 70%;
        width: 50%;

        font-size: 6rem;
    }

    .main__btns {
        height: 30%;
        width: 50%;

        flex-direction: row;
        align-items: unset;
    }

    .pixel-button {
        margin: 0 2rem;
    }

    .pixel-button__pressable:hover {
        top: -16px;
    }

    .pixel-button__pressable:active {
        top: -10px;
    }

    /* second area */
    .richard-section {
        flex-direction: row-reverse;
    }

    .richard-section__wrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 6rem;
    }

    .neon {
        z-index: 2;
        position: relative;
        border-radius: 0.5rem;
        padding: 3rem;
        box-shadow: 0px 0px 2px 2px #fff, inset 0px 0px 2px 2px #fff, 0px 0px 16px 8px #9c00ff, inset 0px 0px 16px 8px #9c00ff;
    }

    .neon::before {
        content: '';
        position: absolute;
        width: 35%;
        height: 90%;
        left: 0;
        top: 0;
        transform: translate(-3rem, -3rem);
        box-shadow: -2px -2px 2px 0px #fff, inset 2px 2px 2px 0px #fff, -12px -12px 10px -4px #9c00ff, inset 12px 12px 10px -4px #9c00ff;
        border-radius: 0.5rem;
    }

    .neon::after {
        content: '';
        position: absolute;
        width: 35%;
        height: 90%;
        right: 0;
        bottom: 0;
        transform: translate(3rem, 3rem);
        box-shadow: 2px 2px 2px 0px #fff, inset -2px -2px 2px 0px #fff, 12px 12px 10px -4px #9c00ff, inset -12px -12px 10px -4px #9c00ff;
        border-radius: 0.5rem;
    }

    .richard-section__hero-image {
        width: 40%;
        object-fit: contain;
        padding: 3em;
    }

    .richard-section__title {
        font-size: 3rem;
    }

    .richard-section__info {
        font-size: 1.5rem;
    }

    .neon .pixel-button {
        margin-top: 1rem;
    }
}